/* GLOBAL */
body{
    background: black;
    height: 100%;
}

header{
    height: 3em;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 999;
}

section{
    padding: 2%;
    padding-top: 3em;
    min-height: 100vh;
}

.content{
     background: white;
     padding: 0 2%;
     min-height: 100%;
}

a{
    color: #D9261C;
}

a:hover{
    color: black;
}

h6 a{
    background: black;
    color: #D9261C;
    display: inline-block;
    padding: 1%;
    border: 1px solid #D9261C;
}

hr{
    margin: 10px;
}

ul.sub-nav li:nth-child(1){
    display: none;
}

ul.sub-nav li.active a:link,
ul.sub-nav li.active a:visited{
    background: #D9261C;
}

ul.sub-nav li a:hover,
ul.sub-nav li a:active{
    color: #D9261C;
}

.panel{
    margin-top: .75em;
}

.panel table{
    width: 100%;
}

.panel table tr td:nth-child(2){
    text-align: right;
}

span.label{
    font-size: 1em;

}

.big-logo{
    position: absolute;
    left: 3em;
}

@media only screen and (max-width: 40.063em) {
    .smallheader{
        background: black;
        position: static;
    }

    .smallheader li{
        width: 100%;
    }

    .smallheader li a{
        display: inline-block;
        background: #D9261C;
        width: 100%;
        text-align: center;
    }

    .smallheader ul.sub-nav li a:hover{
        color:black;
    }

    .logo{
        margin-bottom: 2em;
    }

    p.food-info{
        display: none;
    }

    p.showmore{
        display:inline-block;
    }

    section{
        padding:0;
    }
}

@media only screen and (min-width: 40.063em) {
    header{
        background: black;
        height: 3em;
    }

    .panel{
        padding:1em;
    }

    select, button {
    display:none;
  }
}

@media only screen and (min-width: 64.063em) {
    }