/* GLOBAL */
body{
    background: black;
    height: 100%;
}

header{
    height: 3em;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 999;
}

section{
    padding: 2%;
    min-height: 100vh;
}

.content{
     background: white;
     padding: 0 2%;
     min-height: 100%;
}

hr{
    margin: 10px;
}

ul.sub-nav li:nth-child(1){
    display: none;
}

ul.sub-nav li.active a{
    background: #D9261C;
}

dl dd{
    margin: 0;
}

.panel table{
    width: 100%;
}

.panel table tr td:nth-child(2){
    text-align: right;
}


@media only screen and (max-width: 40em) {
    header{
        position: static;
        width:320px; 
    }

    section:nth-child(1){
        display: none;
    }
}

@media only screen and (min-width: 40.063em) {
}

@media only screen and (min-width: 64.063em) {
    }