/* GLOBAL */
body{
    background: black;
    height: 100%;
}

header{
    width: 100%;
    background: white;
    position: fixed;
    z-index: 999;
}

section{
    background: white;
    padding: 2%;
    min-height: 100vh;
}

hr{
    margin: 10px;
}

#mymenu{
    z-index: 999;
}

a.active{
    color: red;
}

.panel table{
    width: 100%;
}

.panel table tr td:nth-child(2){
    text-align: right;
}
